{
  "extends": "precure/auto",
  "rules": {
    "camelcase": 0,
    "@typescript-eslint/camelcase": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/generic-type-naming": 0,
    "@typescript-eslint/member-naming": 0,
    "@typescript-eslint/no-non-null-assertion": 0,
    "@typescript-eslint/no-this-alias": 0,
    "@typescript-eslint/explicit-member-accessibility": 0,
    "no-await-in-loop": 0,
    "max-lines-per-function": 0,
    "no-negated-condition": 0,
    "require-atomic-updates": 0,
    "object-curly-spacing": 0,
    "max-len": 0
  }
}
